.barbecue-card-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-white-100);
  padding: var(--spacing-lg);
  gap: var( --spacing-xs);
  width: calc(var(--spacing-xxl) * 6);
  height: calc(var(--spacing-xxl) * 4);
  cursor: pointer;
  transition: opacity 0.2s ease 0s;

  &:active {
    opacity: 0.6;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--spacing-xxl) * 2);
    height: calc(var(--spacing-xxl) * 2);
    background: var(--color-yellow);
    border-radius: 50%;
  }

  > .text {
    user-select: none;
  }
}
