.barbecue-card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(var(--spacing-xxl) * 6);
  height: calc(var(--spacing-xxl) * 4);
  cursor: pointer;
  background: var(--color-white);
  padding: var(--spacing-lg);
  box-shadow: var(--box-shadow-primary);
  transition: opacity 0.2s ease 0s;

  &:active {
    opacity: 0.6;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text {
      display: flex;
      align-items: center;
      gap: var(--spacing-xxs);
    }
  }

  .text {
    user-select: none;
  }
}
