.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-xxxl) var(--spacing-lg) var(--spacing-lg) var(--spacing-lg);
  height: calc(100vh - (var(--spacing-xxxl) + var(--spacing-lg)));
  gap: var(--spacing-xxl);
}
